.topic {
  width: 100%;
  max-width: 630px;
  padding: 20px;
  margin: auto;
}


.form-registration {
  width: 100%;
  max-width: 530px;
  padding: 10px;
  margin: auto;
}


p {
    color:;
    font-weight: 900;
}