{% if user %}
{% extends "user-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<form action="/topic/{{topic.id}}" method="post" >
    <div class=" container mt-4 mb-2 ">
        <div class="">
          <h2 class="pb-4 mb-4 fst-italic border-bottom text-center">
            Topics(tematika za urediti)
          </h2>
          <article class="blog-post">
            <h1 class="blog-post-title"> Title: {{topic.title}}</h1>
              <p style = "font-family:courier,arial,helvetica;" class="blog-post-meta">{{topic.created.strftime("%B")}} {{topic.created.day}}, {{topic.created.year}} by <strong>{{topic.author.username}}</strong></p>
            <p>{{topic.description}}</p>
          </article>
            <hr>
        </div>
        <div>
          <textarea name="content" rows="5" cols="80" placeholder="Enter your comment"></textarea>
          <br><br>
          <input type="submit">
        </div>
    </div>



</form>

{% endblock content %}