{% extends "user-base.html" %}

{% block link %}
    <link href="/static/css/custom.css" rel="stylesheet">
{% endblock link %}

{% block content %}

    <form method="post">
        <main id="main">
            <section id="contact">
                <div class="container mt-5 topic">
                    <h1 class="text-center">Do you really want to subscribe to this topic?</h1>
                    <div class=" d-grid col-2 mx-auto mt-4">
                      <button class="btn-info">Submit</button>
                    </div>
                </div>
            </section>
        </main>
    </form>
{% endblock content %}