{% if user %}
{% extends "user-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}


{% block blogactive %}active{% endblock blogactive %}


{% block content %}

{% for topic in topics %}
<main id="main">
  <section id="contact">
    <div class="container mt-5">
      <div class="p-4 p-md-5 mb-2 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Title: {{topic.title}}</h1>
          <p class="lead my-3">Post by: {{topic.author.username}}</p>
          <p class="lead mb-0"><a href="/topic/{{topic.id}}" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endfor %}

{% endblock content %}
