{% if user %}
{% extends "user-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class=" container mt-4 mb-2 ">
    <div class="">
      <h2 class="pb-4 mb-4 fst-italic border-bottom text-center">
        Topics(tematika za urediti)
      </h2>
      <article class="blog-post">
        <h1 class="blog-post-title"> Title: {{topic.title}}</h1>
          <p style = "font-family:courier,arial,helvetica;" class="blog-post-meta">{{topic.created.strftime("%B")}} {{topic.created.day}}, {{topic.created.year}} by <strong>{{topic.author.username}}</strong></p>
        <p>{{topic.description}}</p>
      </article>
       <form method="post" action="/topic/{{topic.id}}/subscribe">
         <div class="mt-4">
             <button type="submit" class="btn btn-outline-info edit-comment">Subscribe</button>
         </div>
       </form>
        <hr style="border-top: dotted 8px;">
        <h4 class="text-center m-4">Comments</h4>
        <hr style="border: 1px dashed black;">

{% for comment in comments %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>{{comment.author.username}}</strong></h5>
            <p class="card-text">{{comment.content}}</p>
            <div class="blockquote-footer text-muted m-auto">
                    {{comment.created.strftime("%d-%m-%Y at %I:%M %p")}}
            </div>
            <div class="mt-4">
                <a href="/comment/{{comment.id}}/edit" class="btn alert alert-success edit-comment">Edit comment</a>
                <a href="/comment/{{comment.id}}/delete" class="btn alert alert-success edit-comment">Delete comment</a>
            </div>
          </div>
        </div>
        <hr style="border: 1px dashed black;">
{% endfor %}
        <hr class="mt-4" style="border-top: dotted 8px;">
    </div>
    <!--- COMMENT ON TOPIC -->
    <form action="/topic/{{topic.id}}/add-comment" method="post" >
        <div>
          <textarea name="content" rows="5" cols="50" placeholder="Enter your comment"></textarea>
          <br><br>
          <input type="submit">
        </div>
    </form>
    <!--- END COMMENT ON TOPIC -->
</div>

{% endblock content %}